{% extends "base.html" %}
{% block title %} 사용자 리스트 {% endblock %}
{% load static %}
{% block content %}
<div class="col text-center">
    <h4>사용자 리스트</h4>
    <!-- <br/> -->

    <nav aria-label="Page navigation example">
      <ul class="pagination nav justify-content-center bg-light">
        {% if users.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?p={{ users.previous_page_number }}">이전으로</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="#">이전으로</a>
        </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="?p={{ users.number|add:1 }}">{{users.number}}/{{users.paginator.num_pages}}</a>
        </li>
        {% if users.has_next %}
        <li class="page-item">
          <a class="page-link" href="?p={{ users.next_page_number }}">다음으로</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="#">다음으로</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    <h4>{% if msg %} { {msg }} {% endif %}</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <th>#</th>
        <th>username</th>
        <th>회원이름</th>
        <th>이메일</th>
        <th>가입일</th>
        <!-- <th>Pay Plan</th>
        <th>가격</th> -->
      </thead>
      {% for u in users %}
      <!-- <tr class={% cycle "table-dark" "" %}> -->
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.first_name }} {{ u.last_name }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.date_joined }}</td>
        <!-- <td>{{ u.pay_plan.name }}</td>
        <td>{{ u.pay_plan.price }}</td> -->
      </tr>
      {% endfor %}
    </table>

    <br/> 

    {% csrf_token %}
    <nav aria-label="Page navigation example">
      <ul class="pagination nav justify-content-center bg-light">
        {% if users.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?p={{ users.previous_page_number }}">이전으로</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="#">이전으로</a>
        </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="?p={{ users.number|add:1 }}">{{users.number}}/{{users.paginator.num_pages}}</a>
        </li>
        {% if users.has_next %}
        <li class="page-item">
          <a class="page-link" href="?p={{ users.next_page_number }}">다음으로</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="#">다음으로</a>
        </li>
        {% endif %}
      </ul>
    </nav>
</div>
<br/><br/>
{% endblock %}
